:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #dde1e7;
  /* color: #fff; */
}

.checkbox-wrapper-56 *,
.checkbox-wrapper-56 ::after,
.checkbox-wrapper-56 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-56 .container input {
  opacity: 1;
  -webkit-appearance: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(0, 0, 70, 0.12);
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin: 0px 10px;
}

.checkbox-wrapper-56 .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-wrapper-56 .container input::after {
  transition: 0.5s;
  font-family: monospace;
  content: '';
  color: #000000;
  font-size: 25px;
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #000000;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.checkbox-wrapper-56 .container input:checked {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  transition: 0.5s;
}

.checkbox-wrapper-56 .container input:checked::after {
  transition: 0.5s;
  border: solid #3e98c7;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
.select-container {
  position: relative;
  width: 200px;
  margin: 20px;
}

/* Style the select element to have custom background, border, and padding */
select.custom-select {
  background-color: #dde1e7;
  border: 1px solid #dde1e7;
  border-radius: 80px;
  padding: 10px;
  padding-right: 30px; /* Extra padding for the icon */
  width: 100%;
  font-size: 16px;
  appearance: none; /* Remove default dropdown arrow */
}

/* Style the dropdown arrow using a pseudo-element */
.select-container::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Ignore pointer events to allow select click-through */
  color: #3e98c7; /* Icon color */
}

select.custom-select:focus {
  /* border-color: #007bff; */
  outline: none;
}
